*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

li .icone{
    align-items: center;
}

.icone i{
    font-size: 100px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

main h1.titulo-topo{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: space-around;
}

ul.nav-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}

ul.nav-menu li{
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

ul.nav-menu li a{
    margin: 30px;
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
}

ul.nav-menu li a:hover{
    color: yellow;
    transform: scale(1.05);
}

ul .nav-menu button{
    padding: 0 40px;
}

.nav-logo{
    float: left;
    padding: 0 40px;
    font-size: 25px;
}

.topo{
    padding: 40px 4%;
}

section.texto{
    align-self: center;
    justify-self: center;
}

.topo .flex .texto h1{
    font-size: 34px;
}

.texto{
    line-height: 2px;
}


.imagem img{
    align-items: right;
    animation: flutuar 2s ease-in-out;
    width: 350px;
    height: 350px;
}

.contato{
    margin: 30px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: yellow;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}


.contato:hover{
    box-shadow: 0px 0px 8px;
}

.link{
    align-items: center;
}

.link .contato{
    margin: 0;
    padding: 10px 50px;
}

.card-body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

ul.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 0;
    list-style: none;
    margin: 20px;
    overflow: hidden;
}
ul.card li {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
ul.card li:last-child {
  border-bottom: none;
}
ul.card li.title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
  background-color: yellow;
  color: white;
  text-align: center;
}

ul.card li.description{
    padding: 0 10px;
}

ul.card li.image1 {
    background: url('/imagens/grendene.jpg') no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 150px;
  }

ul.card li.image2 {
    background: url('/imagens/booldegas.jpg') no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 150px;
}

ul.card li.image3 {
    background: url('/imagens/vitally.jpg') no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 150px;
}
  
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}